@charset "UFT-8";
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    margin:0px;
    padding: 0px;
}

header{
    text-align: center;
    position:fixed;
    padding: 20px;
    width: 100%;
    max-height:auto;
    font-size: 20px;
    font-weight:bold;
    background-color: #4075b1;
}

.space{
    text-align: center;
    padding: 30px;
    width: 100%;
    max-height:auto;
    font-size: 20px;
    color:#fff
}

.title{
    font-size:25px;
    text-align: center;
    color:#fff}
    
h3{
    text-align: center;
    margin: 10px;}

.balloon1 {
    text-align: center;
    font-size: 100%;
	position: relative;
	background: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 20px 40px;
    padding:10px;
    
}
.balloon1:after, .balloon1:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.balloon1:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}
.balloon1:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000000;
	border-width: 19px;
	margin-left: -19px;
}
    
.top_img{
    text-align: center;
}

img{
    max-width: 250px;
    margin: 2%,10%,2%,10%;
}
li{
    padding: 5px;
    border: rgb(124, 124, 124) 2px;}

footer{
    position: fixed;
    bottom: 0px;                /* 位置(下0px) */
    left: 0px;                  /* 位置(左0px) */
    width: 100%;                /* 横幅100%　*/
    height: auto;   
}

#menu {
    width:100%;
    display:flex;
    justify-content: center;
    padding:0;list-style: none;

	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color:#4075b1;
}

.menu_i {
    text-align: center;
    font-size: 200%;
    border: 1px solid #bbbbbb;
    padding:1% 4%;
}

.icon-title{
    text-align: center;
    font-size:50%;
    font-weight: bold;
}

li a {
	display: block;
	color: white;
	text-align: center;
	/*padding: 14px 16px;*/
    text-decoration: none;
}